<header>
    <h1>Todo List ( {{$ctrl.incompleteCount}} )</h1>

    <label class="hide-completed">
        <input type="checkbox" ng-model="$ctrl.hideCompleted" /> Hide Completed Tasks
    </label>

    <login-buttons></login-buttons>

    <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask, $ctrl.taskPriority)" ng-show="$ctrl.currentUser">
        <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks" />
        <select ng-model="$ctrl.taskPriority">
            <option value=''>What is the priority</option>
            <option ng-repeat="option in $ctrl.priorityOptions">{{option.priority}}</option>
        </select>
    </form>

</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks | filter:{priority:$ctrl.priority}" ng-class="{'checked': task.checked, 'private': task.private}">
        <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>

        <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked" />

        <span class="text">
        <strong>{{task.username}}</strong> - {{task.text}}: {{task.priority}}
        </span>

        <button class="toggle-private" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
            {{task.private == true ? "Private" : "Public"}}
        </button>
    </li>
</ul>
<select ng-model="$ctrl.priority">
    <option value=''></option>
    <option ng-repeat="option in $ctrl.priorityOptions" value="{{option.priority}}">{{option.priority}}</option>
</select>
<!--test stuff  -->
<a href="#" class="button">Default Button</a>
<ul id="Amenu" class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Item 1</a>
    <ul class="accordian" data-accordian>
      <li><a href="#">Item 1A</a></li>
      <li><a href="#">Item 1B</a></li>
    </ul>
  </li>
  <li><a href="#">Item 2</a></li>
</ul>
