        <h1>Todo Pouch</h1>
        <div layout="column">
            <md-content layout-padding>

                <form ng-submit="addTodo()">
                    <!--Form containing todo and prioty spec-->
                    <md-content layout-gt-sm="row" layout-padding="">
                        <md-input-container>
                            <input required type="text" ng-model="todoText" size="30" placeholder="add new todo here">
                        </md-input-container>

                        <md-input-container>
                            <md-select aria-label="Priority" ng-model="todoPriority">
                                <md-option value="High">High</md-option>
    							<md-option value="Medium">Medium</md-option>    
    							<md-option value="Low" ng-selected="true">Low</md-option>  
                            </md-select>
                        </md-input-container>
                        
                        <md-input-container>
                            <md-button ng-click="showAdv = !showAdv">Advanced</md-button>
                        </md-input-container>

                        <md-input-container>
                            <md-button type="submit" ng-click="showAdv = false">Add Task</md-button>
                        </md-input-container>
                        </md-content>
                        <md-content layout-gt-sm="column" ng-show="showAdv">
                        <div layout-gt-sm="row">
                            <md-input-container>
                            	<p>Mission:</p>
								<md-select ng-model="todoMission">
									<md-option value="Critical">Critical</md-option>
    								<md-option value="Incidental">Incidental</md-option>    
    								<md-option value="Optional" ng-selected="true">Optional</md-option>                         	
    							</md-select>                            
                           	</md-input-container>
                            <md-input-container>
                            	<p>Income:</p>
								<md-select ng-model="todoIncome">
									<md-option value="Generating">Generating</md-option>
    								<md-option value="Consuming">Consuming</md-option>    
    								<md-option value="Conserving" ng-selected="true">Conserving</md-option>                         	
    							</md-select>                            
                           	</md-input-container>
                            </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <input type="number" min="0" max="7" style="width: 10em" ng-click="todoEffort = null" ng-model="todoEffort" placeholder="Effort (0-7)">
                            </md-input-container>
                            <md-input-container>
                                <input type="number" min="0" max="7"  style="width: 10em" ng-click="todoValue = null" ng-model="todoValue" placeholder="Value (0-7)">
                            </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                            <md-input-container>
                                <input type="number" min="0" max="12"  style="width: 10em" ng-click="todoAbility = null"  ng-model="todoAbility" placeholder="Ability (0-12)">
                            </md-input-container>
                            <md-input-container>
                                <input type="number" min="0" max="12" style="width: 10em" ng-click="todoChallenge = null" ng-model="todoChallenge" placeholder="Challenge (0-12)">
                            </md-input-container>
                            </div>
                        </md-content>

                </form>

            </md-content>