<dtable options="effortOptions" rows="todos" class="material dt">
  <column name="Task" width="200" flex-grow="2">
    {{$row.text}}
  </column>
  <column name="Effort" width="200" flex-grow="2">
  <md-input-container>
		<input type="number" ng-model="$row.effort" min="0" max="7" style="width: 6em" ng-blur="submit($row)" placeholder="Effort (0-7)">
	</md-input-container>
  </column> 
  <column name="Value" width="200" flex-grow="2">
  <md-input-container>
		<input type="number" ng-model="$row.value" min="0" max="7" style="width: 6em" ng-blur="submit($row)" placeholder="Value (0-7)">
	</md-input-container>
  </column> 
</dtable>