<md-input-container>
        	<md-select ng-model="filterPriority">
        		<md-option value="">All</md-option>
				<md-option value="High">High</md-option>
    			<md-option value="Medium">Medium</md-option>    
    			<md-option value="Low">Low</md-option>                         	
    		</md-select>                            
        </md-input-container>
<dtable options="missionOptions" rows="todos" class="material dt">
  <column name="Text">
    {{$row.text}}
  </column>
  <column name="Critical" width="100">
    <div md-theme="altTheme" layout="row" layout-align="center center">
    <md-radio-group ng-model="missions[$row._id]" ng-change="changeMission($row, 'critical')">
    <md-radio-button aria-label="Mission Critical"  class="md-primary" value="critical"></md-radio-button>
    </md-radio-group>
    </div>
  </column>
  <column name="Incidental" width="100">
    <div md-theme="altTheme" layout="row" layout-align="center center">
    <md-radio-group ng-model="missions[$row._id]" ng-change="changeMission($row, 'incidental')">
    <md-radio-button  aria-label="Mission Incidental" class="md-accent" value="incidental"></md-radio-button>
    </md-radio-group>
    </div>
  </column>
  <column name="Optional" width="100">
    <div md-theme="altTheme" layout="row" layout-align="center center">
    <md-radio-group ng-model="missions[$row._id]" ng-change="changeMission($row, 'optional')">
    <md-radio-button  aria-label="Mission Optional" class="md-warn" value="optional"></md-radio-button>
    </md-radio-group>
    </div>
  </column>  
  <column name="mission" prop="mission" group="true">
  </column>
</dtable>