<h1>Todo Pouch</h1>
<span>{{remaining()}} of {{todos.length}} remaining</span>
<md-button class="button" ng-click="removeDone()">Remove done</md-button>

<md-content layout-padding>
<form ng-submit="addTodo()">
<div layout-gt-sm="row">
	<md-input-container> 
  <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
  </md-input-container>
<md-input-container>
  <md-select ng-model="todoPriority">
    <!--I used ng preate with options tag, because there is a buy in the ng-options directive which makes  -->
    <!--retriving information difficult (upon retrivel angular adds $$hash to the object)  -->
    <md-option value="" selected disabled>Please select a priority...</md-option>
    <md-option ng-repeat="option in priorityOptions">{{option.value}}</md-option>
  </md-select>
  </md-input-container>
  <md-input-container>
  <md-button type="submit">Add Task</md-button>
  </md-input-container>
</div>
</form>
</md-content>
<md-input-container>
<md-select ng-model="filterPriority">
  <!--I used ng preate with options tag, because there is a buy in the ng-options directive which makes  -->
  <!--retriving information difficult (upon retrivel angular adds $$hash to the object)  -->
  <md-option value=''>All</md-option>
  <md-option ng-repeat="option in priorityOptions" value="{{option.value}}">{{option.value}}</md-option>
</md-select>
</md-input-container>

<md-card ng-repeat="todo in todos  | filter:{priority:filterPriority}">
        <md-card-title>
          <md-checkbox class="md-headline" ng-model="todo.done" ng-click="updateTodo(todo)">{{todo.text}}</md-checkbox>
        </md-card-title>
        <md-card-content ng-show="open">
        <p>Priority: {{todo.priority}}</p>
        <p>Done: {{todo.done}}</p>
		</md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="open = !open">Details</md-button>
          <md-button ng-click="remove(todo)">Delete</md-button>
        </md-card-actions>
      </md-card>